<a href="https://colab.research.google.com/github/mdaugherity/MachineLearning2023/blob/main/Class_Challenge_03_20_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dr. Daugherity, PHYS 453, Spring 2023**

# CLASS CHALLENGE!!!!
Here I'm loading a dataset first as from dataframes (as easy ways to load csv files from the internet) which I save as standard numpy arrays.  Train a classifier using X and y, then predict the targets of X_pred.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets

In [2]:
df_X = pd.read_csv('https://raw.githubusercontent.com/mdaugherity/MachineLearning2023/main/data/data03202023.csv')
df_X.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.52,1.12,3.82,845
1,13.50,3.12,2.62,24.0,123,1.40,1.57,0.22,1.25,8.60,0.59,1.30,500
2,13.41,3.84,2.12,18.8,90,2.45,2.68,0.27,1.48,4.28,0.91,3.00,1035
3,12.77,3.43,1.98,16.0,80,1.63,1.25,0.43,0.83,3.40,0.70,2.12,372
4,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.30,1.28,2.88,1310

In [5]:
X = df_X.to_numpy()   # use this for your X
X.shape

(168, 13)

In [11]:
df_y = pd.read_csv('https://raw.githubusercontent.com/mdaugherity/MachineLearning2023/main/data/target03202023.csv')
y = df_y.to_numpy().reshape(-1)
print(y)  # use this for your y

[0 2 0 1 0 1 1 1 0 1 0 1 1 2 2 2 1 1 1 0 0 1 2 0 0 0 2 2 1 2 0 1 1 1 2 0 1
 1 2 0 1 0 0 2 2 1 1 0 1 0 2 1 1 2 0 0 0 2 0 0 1 2 1 0 2 1 0 2 1 1 0 1 0 0
 1 0 0 2 1 1 1 0 1 1 1 2 2 0 1 2 2 1 1 0 1 2 2 1 2 1 1 1 0 0 2 0 2 0 0 1 1
 0 0 0 1 0 1 2 1 1 1 2 2 1 0 0 1 2 2 0 1 2 2 2 2 1 0 1 0 2 0 0 1 0 0 2 1 0
 2 2 0 0 2 2 2 1 1 1 1 1 1 2 0 1 1 0 1 1]

In [13]:
df_X_pred = pd.read_csv('https://raw.githubusercontent.com/mdaugherity/MachineLearning2023/main/data/pred03202023.csv')
df_X_pred.head()
X_pred = df_X_pred.to_numpy() 
X_pred.shape

(10, 13)