<a href="https://colab.research.google.com/github/mdaugherity/MachineLearning2023/blob/main/data/Class_Challenge_03_20_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dr. Daugherity, PHYS 453, Spring 2023**

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets

In [ ]:
df_sample = pd.DataFrame(X_train)
df_sample.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000,168.000000
mean,12.991429,2.321905,2.361131,19.469643,99.761905,2.295179,2.028750,0.363452,1.593571,5.071369,0.959262,2.599405,741.505952
std,0.807605,1.121977,0.273245,3.399996,14.373228,0.629464,0.994674,0.125912,0.570019,2.351903,0.231857,0.715639,316.573723
min,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.740000,0.480000,1.270000,278.000000
25%,12.355000,1.607500,2.210000,17.075000,88.000000,1.735000,1.215000,0.260000,1.250000,3.200000,0.787500,1.905000,495.000000
50%,13.050000,1.830000,2.360000,19.250000,98.000000,2.355000,2.135000,0.340000,1.555000,4.600000,0.980000,2.780000,660.000000
75%,13.672500,3.030000,2.540000,21.500000,107.000000,2.800000,2.807500,0.450000,1.950000,6.262500,1.120000,3.170000,985.000000
max,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [ ]:
df_sample.to_csv('data03202023.csv')

In [ ]:
df_target = pd.DataFrame(y_train)
df_target.to_csv('target03202023.csv')

In [ ]:
df_pred = pd.DataFrame(X_test)
df_pred.to_csv('pred03202023.csv')